<%= form_with(model: witcher, local: true) do |form| %>
  <% if witcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(witcher.errors.count, "error") %> prohibited this witcher from being saved:</h2>

      <ul>
      <% witcher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
